@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSans-Condensed-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Condensed-Light.woff") format("woff"),
    url("../fonts/OpenSans-Condensed-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.woff2") format("woff2"),
    url("../fonts/PTSans-Italic.woff") format("woff"),
    url("../fonts/PTSans-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
