$prime-offset: 10px;
$desktop: 1000px;

$animation-duration: 0.5s;

$color-white: #FFFFFF;
$color-white-2: #F9F9F9;
$color-red: #FF8383;
$color-gray-1: #DCDCDC;
$color-gray-2: #777777;
$color-gray-3: #D2D2D2;
$color-black: #000000;
$color-black-2: #535353;
$color-text: #767676;
$color-text-light: $color-white;
$color-prime-background: $color-white;
$color-background-dark: rgba($color-black, 0.5);
