-
  const menu = [
    {
      title: `Главная`,
      link: false,
    },
    {
      title: `Каталог`,
      link: `blank.html`,
    },
    {
      title: `Доставка и оплата`,
      link: `blank.html`,
    },
    {
      title: `Прайс-лист`,
      link: `blank.html`,
    },
    {
      title: `Контакты`,
      link: `blank.html`,
    },
  ];

nav(class="menu")
  ul(class="menu__links-list")
    each item in menu
      li(class="menu__link-wrapper")
        a(class="menu__link" href=item.link data-blank-status=item.link).
          #{item.title}
