block variables
  - const identifier = false

div(class="popup" id=identifier)
  div(class="popup__content")
    block content
    button(class="popup__close-button" type="button" aria-label="Закрыть окно")
