.info {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 $prime-offset 198px #{$prime-offset + $grid-left-column-width};

  &::before {
    content: "";

    display: block;
    width: 100%;
    height: 1px;
    margin-bottom: 24px;

    background-color: $color-gray-2;
  }
}

.info__block {
  width: 372px;

  letter-spacing: 0.025em;
}
