
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="description" content="Лендинг самой клевой компании")
    link(rel="stylesheet" href="css/style.min.css")
    title.
      Название комании
  body
    include ../blocks/prime-header.pug
    script(src="js/app.min.js")
