extends ../extends/layout.pug

block main-content
  h1(class="visually-hidden").
    Главная страница сайта самой клевой комании
  include ../blocks/slider.pug
  include ../blocks/catalog.pug
  include ../blocks/info.pug
